<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form action="/calcular" method="post">
        <input type="number" name="numero1" placeholder="Número 1" required>
        <input type="number" name="numero2" placeholder="Número 2" required>
        <select name="operacao" required>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <button type="submit">Calcular</button>
    </form>

    <!-- Verifica se existe um resultado e exibe-o -->
    <h2 th:if="${resultado != null}">Resultado: <span th:text="${resultado}"></span></h2>
</body>
</html>